:host {
    display: grid;
    min-height: 90vh;
    place-items: center;
}

.card {
    height: 40vh;
    width: 60vh;
    border-radius:5%;
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3rem 3rem;
    text-align: center;
}

.upload-icon {
    font-size: 4rem;
    border:2px solid currentColor;
    border-radius: 25%;
    padding: 2rem;
    margin-bottom: 2rem;
    opacity: 0.8
}

.upload-text {
    font-size: 1.1rem;
    opacity: 0.75;
}